@import url("https://fonts.googleapis.com/css2?family=Lateef&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lateef", serif;
  box-sizing: border-box;
  font-size: 1.2rem;
}
section {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.note {
  text-align: center;
}

#copyrightname {
  color: #b61919;
  font-size: 1.5rem;
}
h1 {
  margin-top: 70px;
  text-align: center;
  color: #2b2b43;
  top: 94px;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.signform input:not([type="checkbox"]) {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 40px;
  background: #f6f6f6;
  border-radius: 88px;
}

.signsubmit {
  padding: auto 50px;
  color: #fff;
  text-align: center;
  width: 25%;
  background: #b61919;
  box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  border-radius: 8px;
}

.signsubmit:disabled {
  color: black;
  background: gray;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #b61919;
}

a:visited {
  color: #b61919;
}
a:hover,
a:focus {
  color: #b61919;
}
a:active {
  color: #b61919;
}

.signform i {
  z-index: 2;
  margin-left: -35px;
  cursor: pointer;
  position: absolute;
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #670606;
  width: 100%;
  z-index: 2;
  width: 100%;
  margin-bottom: 10px;
}
.topnav {
  top: 0;
}
nav ul li,
nav a {
  list-style-type: none;
  display: inline-block;
  padding: 0px 25px;
  color: whitesmoke !important;
}

.footernav {
  display: none;
}
.signform input:valid {
  border: 2px solid green;
}

.signform input:invalid {
  border: 2px solid #670606;
}

.tripformflex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #f3f4ff;
  border-radius: 2rem;
  padding-bottom: 1rem;
  width: 50%;
  margin: auto;
}

.divdesign {
  background-color: #f3f4ff;
  border-radius: 2rem;
  padding-bottom: 1rem;
  width: 50%;
  margin: auto;
}
.tripformflex p {
  text-align: center;
  padding-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
}

.tripformflex p:last-child {
  flex-flow: row;
  width: 60%;
}
.tripformflex .tripsubmit {
  margin: 0px 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  color: whitesmoke;
  background: #19b63c;
  box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  border-radius: 8px;
}

.tripformflex .cancelsubmit {
  background: #646a65;
}

textarea,
.tripformflex input[type="datetime-local"] {
  resize: none;
  border: 1px solid #c7c8d2;
  border-radius: 8px;
}

.tripformflex select,
.tripformflex option {
  padding-left: 90px;
  padding-right: 90px;
  border: 1px solid #c7c8d2;
  border-radius: 8px;
  text-align: center;
}

.mainscreendiv {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  background: #f3f4ff;
}

.title {
  font-size: 1.5rem;
  color: #2b2b43;
}

.mainscreenbuttonride {
  margin-top: 10px;
  background: #19b63c;
  box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  border-radius: 8px;
  color: white;
  width: 50%;
}

.driverform {
  background: #1c19b6;
}

.rednote {
  color: #b61919;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  border-radius: 10px;
  width: 25%;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid black;
}

.update_profile_form > div {
  width: 100%;
  padding: 10px;
}

/* .form_error span {
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1.1em;
  color: #D83D5A;
}
.form_error {
  border: 1px solid #D83D5A !important;
} */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.modalclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalclose:hover,
.modalclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#updateusers {
  text-align: center;
}

.userstable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.userstable th,
.userstable td {
  text-align: left;
  padding: 8px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.buttonToLink{
  background: none;
  border: none;
  color: red
}

.buttonToLink:hover{
  background: none;
  text-decoration: underline;
}
.userstable tr:nth-child(even) {
  background-color: #f2f2f2;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media screen and (max-width: 768px) {
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .signsubmit {
    width: 75%;
  }
  .footernav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: fixed;
    margin-bottom: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
  }
  .footernav a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .footernav img {
    filter: brightness(0) invert(1);
    width: 36px;
    height: 36px;
    display: block;
  }
  .tripformflex .tripsubmit {
    margin: 0px 5px;
  }
  .tripformflex p:last-child {
    width: 80%;
  }
  .tripformflex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #f3f4ff;
    border-radius: 2rem;
    padding-bottom: 1rem;
    width: 100%;
  }
  .mainscreendiv {
    width: 100%;
  }
  .formtitle {
    display: none;
  }
  main {
    padding-bottom: 100px;
  }
  .error {
    width: 95%;
  }
  #headernavlinks {
    display: none !important;
  }
  #headernav a {
    margin: auto;
  }
}
