@import url("https://fonts.googleapis.com/css2?family=Lateef&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lateef", serif;
  box-sizing: border-box;
  font-size: 1.2rem;
}
section {
  max-width: 1200px;
  margin: auto;
  text-align: center;

}

.note{
  text-align: center;
}

#copyrightname {
  color: #b61919;
  font-size: 1.5rem;
}
h1 {
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  color: #2b2b43;
  top: 94px;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input:not([type="checkbox"]) {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left:1rem;
  height: 40px;
  background: #f6f6f6;
  border-radius: 88px;
  

}

.signsubmit{
padding:auto 50px ;
color: #fff;
text-align: center;
width: 25%;
background: #b61919;
box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
border-radius: 8px;
}

.signsubmit:disabled{
    color:black;
    background: gray;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #B61919;
  }
  
  a:visited {
    color: #B61919;
  }
  a:hover,
  a:focus {
    color: #B61919;
  }
  a:active {
    color: #B61919;
  }

.signform i {
z-index: 2;
    margin-left: -35px;
    cursor: pointer;
    position: absolute;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #670606;
    width: 100%;
    z-index: 2;
    width: 100%;
    margin-bottom: 10px;
  }
.topnav{
  top: 0;
}
  nav ul li,
  nav a { 
    list-style-type: none;
    display: inline-block;
    padding: 0px 25px;
    color: whitesmoke !important;
  }

  .footernav{
    display: none;
  }
  input:valid {
    border: 2px solid green;
  }

  input:invalid {
    border: 2px solid #670606;
  }
 

.tripformflex{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.tripformflex p{
  text-align: center;
  padding-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
}

.tripformflex p:last-child{
  flex-flow: row;
  width: 30%;
}
.tripformflex .tripsubmit{
  margin:0px 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  color: whitesmoke;
background: #19B63C;
box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
border-radius: 8px;
}

.tripformflex .cancelsubmit{
background: #646A65;
}


@media screen and (max-width: 768px) {
  h1{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .signsubmit{
      width: 75%;
  }
  nav {
bottom: 0;
justify-content: center;
font-size: 1rem;

  }
  .footernav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: fixed;
    margin-bottom: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
  }
  .footernav a{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .footernav img{
    filter: brightness(0) invert(1);
    width: 36px;
    height: 36px;
    display: block;
  }
  .tripformflex .tripsubmit{
    margin:0px 5px;
  }
  .tripformflex p:last-child{
    width: 80%;
  }
}